---
import type { BlogPostFrontmatter } from '@types';

export async function getStaticPaths() {
    const posts = await Astro.glob<BlogPostFrontmatter>('../*.md');

    let tags: string[] = [];

    posts.forEach(post => {
        if (post.frontmatter.tags) {
            tags.push(...post.frontmatter.tags)
        }
    });

    //looping over the tags
    return tags.map(tag => ({
        params: {
          tag: tag.toLocaleLowerCase()
        }
    }))
}

import Base from '@layouts/Base.astro';
import PostsList from '@components/PostsList.astro';
import { capitaliseSentence } from '@utils';

let  posts  = await Astro.glob<BlogPostFrontmatter>('../*.md');

const { tag } = Astro.params;

posts = posts.filter(post => {
    let showPost = false;

    post.frontmatter.tags?.forEach(postTag => {
        if (postTag.toLocaleLowerCase() == tag) {
            showPost = true;
        }
    })

    return showPost;
})
---
<Base title={`${capitaliseSentence(tag as string)} Related Posts`}>
    <h1 class="mb-8 text-5xl">Blog Posts</h1>
    <p>All <strong>{capitaliseSentence(tag as string)}</strong> related posts.</p>

    <PostsList posts={posts}/>
</Base>
